{% extends 'base.html' %} {% block content %}

<section>
  <h1 class="pb-10 text-center text-3xl md:text-5xl lg:text-6xl">
    About Threadarium
  </h1>
  <p>
    Threadarium is a forum app that lets users create posts and read posts
    shared by others. Users can also spark discussions or have conversations
    through commenting on any post that they find interesting or fun! Share your
    thoughts, secret recipes, playlists, movie/series/game recommendations..
    Anything goes, but PLEASE keep it clean!
  </p>
</section>

{% endblock %}
