{% load static %} {% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Threadarium</title>
    {% tailwind_css %}
    <script defer src="{% static 'js/script.js' %}"></script>
  </head>
  <header class="fixed top-0 left-0 right-0 w-full z-50">
    <nav class="relative h-navbarHeight">
      <div
        class="relative flex justify-between items-center h-full px-4 lg:max-w-5xl lg:mx-auto"
      >
        <div>
          <a href="{% url 'home' %}">
            <span>Threadarium</span>
          </a>
        </div>
        <div>
          <ul class="inline-flex items-center gap-4">
            <li>
              <a href="{% url 'home' %}"><span>Home</span></a>
            </li>
            <li>
              <a href="{% url 'about' %}"><span>About</span></a>
            </li>
            {% if user.is_authenticated %}
            <li>
              <a href="{% url 'all_posts' %}"><span>All Posts</span></a>
            </li>
            <li>
              <a href="{% url 'index' %}"><span>My Posts</span></a>
            </li>
            <li>
              <a href="{% url 'post_create' %}"><span>Create Post</span></a>
            </li>
            <li>
              <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit">Log Out</button>
              </form>
            </li>
            {% else %}
            <li>
              <a href="{% url 'signup' %}">Sign Up</a>
            </li>
            <li>
              <a href="{% url 'login' %}">Log In</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body class="flex flex-col min-h-screen">
    <main
      class="pt-28 flex-auto w-full p-4 pt-offsetNavbarHeight lg:max-w-5xl lg:mx-auto"
    >
      {% block content %} {% endblock %}
    </main>
    <footer><div class="p-4 text-center"></div></footer>
  </body>
</html>
