<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Threadarium</title>
  </head>
  <header>
    <nav>
      <div>
        <div>
          <a href="/">
            <span>LOGO</span>
          </a>
        </div>
        <div>
          <ul>
            <li>
              <a href="/"><span>Home</span></a>
            </li>
            <li>
              <a href="/about"><span>About</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <main>{% block content %} {% endblock %}</main>
  </body>
</html>
